

<div class="mx-3 p-1 ">
  <h1>A simple web app</h1>
  <div>
    <form action="" #val>
      <label for="sort" class="h2 m-2">OrderBy</label>
      <select name="sort" id="sort" [(ngModel)]="selectedField">
        <option value="" selected disabled>Select field to sort</option>
        <option *ngFor="let field of selectSort" [value]="field">{{field}}</option>
      </select>
    </form>
    
  </div>
  <table class="table border-top">
    <thead>
      <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Salary</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let user of userList"  >
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.birthday | birthday}}</td>
      <td>{{user.salary}}</td>
      <td>{{user.phone | phone: 84}}</td>
     </tr>
    </tbody>
  </table>
  
</div>
